.app-container {
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 4px;
  margin-bottom: 24px;
  max-width: 1140px;
}

.selected-image {
  border-radius: 18px;
}

.heading {
  color: #1e293b;
  font-family: 'roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
}

.description {
  color: teal;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.thumbnail-container {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0px;
}

.creator {
  text-align: right;
  font-family: 'Roboto';
  margin-right: 20px;
  color: red;
  margin: 0px;
  padding-top: 4px;
  padding-right: 10px;
  font-weight: 500;
}
